<div class="row">
  <div class="col-xs-12">
    <h1 class="containerLabelL">ReactJS Implement</h1>
  </div>
  <div class="col-xs-12 l-scoreForm Form" id='scoreForm'>
    <%= javascript_pack_tag 'application' %>
  </div>
</div>
