<div class="row">
  <div class="col-xs-12">
    <h1 class="containerLabelL">Rails Implement</h1>
  </div>
  <div class="col-xs-12">
    <%
      @form = BowlingGameScoreService.create_from if @form.nil?
      scores = BowlingGameScoreService.get_scores_for_select
    %>
    <%= render 'form', scores:scores %>
  </div>
</div>
