<h1>Bowling Game Scorer</h1>

<form name="scoreform">
<table>
  <tbody>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>合計</td>
  </tr>
  <tr>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0">-</option>
        <option value="1">/</option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <input size="3" name="sum" value="300" readonly="" type="text">
    </td>
  </tr>
  <tr>
    <td>
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td>
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td>
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td>
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td>
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td>
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td>
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td>
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td>
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td>
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
  </tr>
  </tbody>
</table>
</form>