<h1>Bowling Game Scorer</h1>

<form name="scoreform">
<table>
  <tbody>
  <tr>
    <td colspan="2">1</td>
    <td colspan="2">2</td>
    <td colspan="2">3</td>
    <td colspan="2">4</td>
    <td colspan="2">5</td>
    <td colspan="2">6</td>
    <td colspan="2">7</td>
    <td colspan="2">8</td>
    <td colspan="2">9</td>
    <td colspan="2">10</td>
    <td colspan="2">合計</td>
  </tr>
  <tr>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0">-</option>
        <option value="1">/</option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="0"></option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <select>
        <option value="10">X</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">G</option>
      </select>
    </td>
    <td>
      <input size="3" name="sum" value="300" readonly="" type="text">
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td colspan="2">
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td colspan="2">
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td colspan="2">
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td colspan="2">
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td colspan="2">
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td colspan="2">
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td colspan="2">
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td colspan="2">
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
    <td colspan="2">
      <input size="3" name="fs" value="30" readonly="" type="text">
    </td>
  </tr>
  </tbody>
</table>
  <p>
    <button type="submit">計算する</button>
    <button type="reset">リセット</button>
  </p>
</form>