@charset 'utf-8';

// =====================
// Footer
// ---------------------
// グローバルフッター
// =====================

.Footer {
  display: block;
  margin: $space-unit*2 auto 0;
  padding: $space-unit 0;
  background-color: $color-white;
  color: $color-link;
  &__head,
  &__body,
  &__foot,
  a {
    color: $color-link;
    &:hover {
      color: $color-black;
    }
  }
}
