.table {
  border-collapse: collapse;
  text-align: left;
}
.table th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border: 1px solid #ccc;
}
.table td {
  width: 350px;
  vertical-align: top;
  border: 1px solid #ccc;
}
