// ロゴ
.logo {
  display: inline-block;
  padding: 10px 0;
  color: $color-main-text;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 26px;
  @include menu-font;
}

// コンテナの大見出し
.containerLabelL {
  padding: 0 0 20px;
  font-weight: normal;
  font-size: 34px;
}

// コンテナの中見出し
.containerLabelM {
  padding: 40px 0 20px;
  font-weight: normal;
  font-size: 26px;
}

// コンテナの小見出し
.containerLabelS {
  padding: 40px 0 20px;
  font-weight: normal;
  font-size: 26px;
}

.scoreFormFrameHeader {
  color: $color-main-text;
  font-weight: lighter;
  font-size: 10px;
}

