// =====================
// レイアウトを指定する特別な要素
// =====================

.l-container {
  padding: 10px 10px 10px 10px;
  margin: 100px 10px 10px 10px;
  width: auto;
  height: auto;
}

.l-scoreForm {
  padding-top: 20px;
}

.l-scoreFormFrameHeader {
  margin-bottom: 10px;
  text-align: center;
}

.l-scoreFormFrameLabel {
  padding-top: 5px;
  text-align: right;
}